
h1,p{
    box-sizing: border-box;
}

.img__container{
    padding-bottom: 10px;

}

.img{
    width: 40vw;
}

.presentacion{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

h1{
    text-align: center;
}

.texts{
    list-style: none;
    letter-spacing: 2px;
}

.flecha__abajo__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.flecha__abajo{
    width: 50px;
}


/*PC*/

@media (min-width: 1200px){
    
    
    .presentacion{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 90vh;
        justify-content: center;
    }


    .img{
        width: 25vw;
        margin-top: 100px;
        border: 12px solid #27EBD1;
        box-shadow: 0px 0px 30px #41C0AF;
        border-radius: 10px 0px;
    }
    
    .texts__container{
        background-color: #27EBD1;
        border-radius: 10px;
        box-shadow: 0px 0px 30px #41C0AF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        text-align: start;
    }

    .texts{
        font-size: 25px;
    }
}

