

.aptitudes__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.aptitudes{
    width: 20vw;
    margin: auto;
}

h4{
    text-align: center;
    font-size: 40px;
}



.form{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    container-name: form;
    container-type: inline-size;
}

.form__form{
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    margin-bottom: 30px;
}

.form__imput-container :is(input,textarea){
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px #0003;
    background-color: #fffd;
}

.form__imput-container textarea{
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__imput-container input[type="submit"]{
    padding: 12px;
    background-color: #48e;
    color: #fff;
}

.form__title{
    font-size: 2.4rem;
}

@container form (min-width: 600px){

    .form__form{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image: radial-gradient(#18233f06, #18233f33);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 40px #0006;
    }

    .form__imput-container:first-child{
        grid-area: name;
    }

    .form__imput-container:nth-child(2){
        grid-area: lastname;
    }

    .form__imput-container:nth-child(3){
        grid-area: email;
    }

    .form__imput-container:nth-child(4){
        grid-area: message;
    }

    .form__imput-container:nth-child(5){
        grid-area: button;
    }

    .form__imput-container :is(input,textarea){
        box-shadow: none;
        border-radius: 4px;
    }
}

@media (min-width: 1200px){

    .aptitudes__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
    
    .aptitudes{
        width: 150px;
        margin: auto;
        transition: width 0.06s linear;
    }
}