
body{
    background-color: #2D6969;
    margin: 0;
    overflow-x: hidden;
}

div,body,ul,li,a{
    box-sizing: border-box;
}


.nav__container{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #0005;
    position: fixed;
}

.nav__list{
    margin: 0px 10px;
}

.nav{
    color: #fff;
    text-decoration: none;
    
}


/*Pc*/

@media (min-width: 1200px){
    body{
        overflow-x: hidden;
    }

    h1{
        font-size: 60px;
    }

    .hola{
        display: flex;
        justify-content: center;
    }

    

    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 40%;
        height: 60px;
        padding: 0;
        margin-top: 10px;
        background-color: #0005;
        position: fixed;
        z-index: 10;
    }


    .nav{
        font-size: 25px;
        transition-property: font-size;
        transition-duration: .3s;
        transition-delay: 0s;
    }

    .nav:hover{
        text-decoration: underline;
        font-weight: bold;
        font-size: 35px;
    }

}